<div class="container py-5 px-3">
    <div 
      class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-4"
    >
      <% profiles.forEach(profile => { %>
        <div class="col">
          <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <div class="card shadow-sm mb-4">
                <img
                  class="card-img-top"
                  referrerpolicy="no-referrer"
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="100%"
                />
              <div class="card-body">
                <p class="card-title fs-5 text-dark mb-0">
                  <%= profile.name %>
                </p>
                <p class="text-muted">
                  Joined <%= profile.createdAt.toLocaleDateString() %>
                </p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>