<div class="container">
  <div 
    class="row"
  >
    <% profiles.forEach(profile => { %>
      <div class="col">
        <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
          <div class="card shadow-sm mb-4">
              <img
                class="card-img-top"
                src="<%= profile.avatar %>"
                alt="<%= profile.name %>'s avatar"
                width="100%"
              />
            <div class="card-body">
              <p class="card-title text-dark">
                <%= profile.name %>
              </p>
              <p class="text-muted">
                Joined <%= profile.createdAt.toLocaleDateString() %>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>