<%- include('../partials/html-head') %>
<% if (user.profile._id.toString() === profile._id.toString()) { %>
  <style>
    #profile-dropdown {
      display: none;
    }
  </style>
<% } %>
<%- include('../partials/nav') %>

<main class="d-flex justify-content-center">
  <section' class="text-center">
    <img
        class="image-rounded" 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >
      <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
    <div class="container py-4">
      <table class="table align-middle">
        <tbody>
          <% if (user.profile._id.toString() === profile._id.toString()) { %>
            <tr>
              <td>Google Email:</td>
              <td><%= user.email %></td>
            </tr>
          <% } %>
          <tr>
            <td>Name:</td>
            <td><%= profile.name %></td>
          </tr>
          <tr>
            <td>Bio:</td>
            <td>
              <%= profile.bio  %> 
            </td>
          </tr>
          <tr class="text-muted">
            <td>Joined:</td>
            <td>
              <%= profile.createdAt.toLocaleString()  %> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if (user.profile._id.toString() === profile._id.toString()) { %>
      <div class="align-middle">
        <a 
        class="btn btn-warning"
        role="button" 
        href="/profiles/<%= profile._id %>/edit"
        >
          Edit Profile
        </a>
        <a 
          class="btn btn-danger ms-4"
          role="button" 
          href="/auth/logout"
        >
          Logout
        </a>
      </div>
    <% } %>
    <% if (!profile._id.equals(userProfile._id) && !userProfile.following.includes(profile._id)) { %>
      <a href="/profiles/<%= profile._id %>/follow" class="btn btn-primary">
        Follow
      </a>
    <% } %>
    <% if (!profile._id.equals(userProfile._id) && userProfile.following.includes(profile._id)) { %>
      <a href="/profiles/<%= profile._id %>/unfollow" class="btn btn-danger">
        Unfollow
      </a>
    <% } %>
  </section>
  <section class="pt-3">
    <div class="container text-center">
      <h4>Following</h4>
      <div 
        class="row"
      >
        <% profile.following.forEach(follow => { %>
          <div class="col-sm-6">
              <div class="card shadow-sm mb-4">
            <a class="text-decoration-none" href="/profiles/<%= follow._id %>">
                  <img
                    class="card-img-top"
                    src="<%= follow.avatar %>"
                    alt="<%= follow.name %>'s avatar"
                    width="100%"
                  />
                <div class="card-body">
                  <p>
                    <%= follow.name %>
                  </p>
                  <p class="card-text text-dark fs-6 mt-0">
                    Joined <%= follow.createdAt.toLocaleDateString() %>
                  </p>
                </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
      <div class="container text-center">
        <h4>Followers</h4>
        <div 
          class="row"
        >
          <% profile.followers.forEach(follower => { %>
            <div class="col-sm-6">
                <div class="card shadow-sm mb-4">
              <a class="text-decoration-none" href="/profiles/<%= follower._id %>">
                    <img
                      class="card-img-top"
                      src="<%= follower.avatar %>"
                      alt="<%= follower.name %>'s avatar"
                      width="100%"
                    />
                  <div class="card-body">
                    <p>
                      <%= follower.name %>
                    </p>
                    <p class="card-text text-dark fs-6 mt-0">
                      Joined <%= follower.createdAt.toLocaleDateString() %>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          <% }) %>
        </div>
      <h4 class="mb-3">Posts</h4>
        <%- include('../partials/postCards') %> 
        
      </div>
    </div>
  </section>
  </main>
  <%- include('../partials/footer') %>