<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="bg-light mt-3">
  <h2 class="text-primary mb-3 text-center">Profiles</h2>
  <%- include('./partials/profileCards') %> 
  <h2 class="text-primary mb-3 text-center">Posts</h2>
  <%- include('./partials/postCards') %>
</main>

<%- include('./partials/footer') %>