<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if(user){ %> 
  <form action="/messages" method="POST">
    <h2>Write a Post</h2>
    <div class="mb-3 mx-5">
      <label for="post-content" class="form-label">Post</label>
      <textarea class="form-control" id="post-content" rows="5"></textarea>
    </div>
    <div class="mb-3 mx-5">
      <label for="title-input" class="form-label">Categories</label>
      <input 
        type="text" 
        class="form-control" 
        id="title-input" 
        placeholder="Choose a category"
      >
    </div>
    <button class="btn btn-primary ms-5" type="submit">Post</button>
    </form>
    <% } %> 
    <% messages.forEach((message, idx) => { %>
      <section>
        <div>
          <a 
              href="/profiles/<%= message.author._id %>"
              class="text-decoration-none text-light"
            >
              <%= message.author.name %>
              <img
                src="<%= message.author.avatar %>"
                class="img-fluid rounded-circle"
                alt="<%= message.author.name %>'s avatar"
                height="35"
                width="35"
              />
          </a>
          <a 
            href="/messages/<%= message._id %>" 
            class=""
          >
            <p class=""><%= message.text %></p>
          </a>
          <p class="fs-7 fst-italic">
            on <%= message.createdAt.toLocaleDateString() %>
          </p>
          <%# Put something here for categories %> 

          <%# Put something here to check if logged in and if so, add reply %> 


        </div>
      </section>
    <% }) %>
  </main>
  <%- include('../partials/footer') %>
  