<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="card justify-content-center align-self-center" style="width: 40rem;">
    <h2 class="card-header">Edit a Post</h2>
  <form 
    class="container d-flex flex-column"
    action="/posts/<%= post._id %>?_method=PUT"
    method="POST"
  >
  <div class="mb-3 mx-5">
    <label for="post-content" class="form-label">Post</label>
    <textarea class="form-control" name="text" id="post-content" rows="5">
      <%= post.text %> 
    </textarea>
  </div>
  <div class="mb-3 mx-5">
    <label for="title-input" class="form-label">Categories</label>
    <input 
      type="text" 
      class="form-control" 
      id="title-input"
      name="categories" 
      value="<%= post.categories.reduce((accum,category)=>accum+category+"; ","") %> "
    >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</main>

<%- include('../partials/footer') %>